<section class="section">
    <div class="row container">
        <div class="col s12">
            <h5 class="teal center-align padding-h grey-text text-lighten-4 z-depth-2">
                Selection Process:
            </h5>
        </div>
    </div>
    <div class="row container">
        <div class="col s12">
            <ul id="tabs-swipe-demo" class="tabs z-depth-1">
                <li class="tab col s6"><a class="active" href="#test-swipe-2">HSSC</a></li>
                <li class="tab col s6"><a href="#test-swipe-1">SSC CGL</a></li>
            </ul>
            <div id="test-swipe-2" class="col s12">
                <ul class="collection with-header">
                    <li class="collection-header">
                        <h5>Exam: Total 100 Marks</h5>
                    </li>
                    <li class="collection-item">Written Exam: 90 Marks</li>
                    <li class="collection-item">Socio-Economic Criteria and Experience: 10 Marks</li>
                </ul>
                <ul class="collection with-header">
                    <li class="collection-header">
                        <h5>Exam Scheme</h5>
                    </li>
                    <li class="collection-item">75% weightage of:
                        <ol>
                            <li>
                                General Awareness
                            </li>
                            <li>
                                Reasoning
                            </li>
                            <li>
                                Mathematics
                            </li>
                            <li>
                                Science
                            </li>
                            <li>
                                English & Hindi
                            </li>
                        </ol>
                    </li>
                    <li class="collection-item">25% Weightage of Haryana:
                        <ol>
                            <li>
                                History, Geography, Politics
                            </li>
                            <li>
                                Current Affairs
                            </li>
                            <li>
                                Literature
                            </li>
                            <li>
                                Science
                            </li>
                            <li>
                                Environmental Science
                            </li>
                        </ol>
                    </li>
                </ul>
            </div>
            <div id="test-swipe-1" class="col s12">
                <h6>Coming Soon...</h6>
            </div>
        </div>
    </div>
</section>