.main-color{
    background:#333;
}
.test-bg-color{
    background:#BBD42D;;
}
.padding-20{
    padding:0 20px;
}
.padding-h{
    padding:7px 0;
}
.card{
    border-radius:5px;
}
/*******************************/
#bg-image{
    height:800px;
    background: url('photos/study.png') no-repeat;
    background-size: cover;
}
#login-wrapper{
    height: 800px;
    background:#eee;
}
#login-wrapper .login-ico{
    font-size: 70px;
    color:#3a3b39
}
.btn-wide{
    padding-top: 20px;
}
.btn-wide a{
    width:100%;
}
.btn-wide a i{
    font-size: 16px;
    border-right: 1px solid rgba(0,0,0,.07);
    padding-right: 10px;
}
#login-wrapper .container{
    width: 350px;
    margin:50px auto;
}

.padding-left{
    padding-left: 320px;
}
/*******Dashboard********/
#slide-out.sidenav i.material-icons,#slide-out.sidenav i.fa{
    margin-right:12px;
    padding-right:0;
    font-size: 24px;
}
sub.sub{
    font-size: 10px;
    color:#dfd9d9;
    font-weight: bold;
    position: relative;
    top:10px;
    left:-10px;
}
.card-content{
    position: relative;
}
.card-content .cat{
    position: absolute;
    top: 10px;
    right: -1px;
    height: 16px;
    line-height: 6px !important;
    font-size: 12px;
    padding:5px;
    display: inline-block;
    background:#468499;
    border-radius:0;
}
.card-content .cat:before{
    content: "";
    display: inline-block;
    border-top: 8px solid #468499;
    border-bottom: 8px solid #468499;
    border-left: 8px solid transparent;
    position: absolute;
    left: -7px;
    top: 0px;
    
}
p.status{
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 3px 5px;
    display: inline-block;
    border-radius:15px;
    color: #f4f4f4;
    font-size: 10px;
    box-shadow: 0 0 3px rgba(0,0,0,.4);
    text-transform: uppercase;
}

.ribbon {
    position: absolute;
    left: -5px; top: -5px;
    z-index: 1;
    overflow: hidden;
    width: 75px; height: 75px;
    text-align: right;
  }
  .ribbon span {
    font-size: 10px;
    font-weight: bold;
    color: #FFF;
    text-transform: uppercase;
    text-align: center;
    line-height: 20px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    width: 100px;
    display: block;
    background: #4f504e;
    background: linear-gradient(#4f504e 0%, #616260 100%);
    box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
    position: absolute;
    top: 19px; left: -21px;
  }
  .ribbon-a span{
      background: #13AA52;
      background: linear-gradient(#13aa52 0%, #0a6931 100%);
  }
  .ribbon-u span::before,.ribbon-a span::before{
    content: "";
    position: absolute; left: 0px; top: 100%;
    z-index: -1;
    border-left: 3px solid #4f504e;
    border-right: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-top: 3px solid #4f504e;
  }
  .ribbon-u span::after,.ribbon-a span::after {
    content: "";
    position: absolute; right: 0px; top: 100%;
    z-index: -1;
    border-left: 3px solid transparent;
    border-right: 3px solid #4f504e;
    border-bottom: 3px solid transparent;
    border-top: 3px solid #4f504e;
  }
  .ribbon-a span::before{
    border-left-color:#13AA52 ;
    border-top-color: #13AA52;
  }
  .ribbon-a span::after{
    border-right-color: #13AA52;
    border-top-color: #13AA52;
  }
/*******Mock Header********/
.mock-header{
    height:50px;    
}
.mock-header .timer,.mock-header .container{
    overflow:hidden;
}
.mock-header .timer div{
    height: 50px;
    line-height: 50px;
    font-weight: bold;
    padding: 0 10px;
}
.timer-content{
    width: 90px;
    text-align: center;
}
.menu-ico-wrapper{
    position: relative;
}
.menu-ico-wrapper .menu-ico{
    position: absolute;
    right:0;
    top:-18px;    
    transition: transform .5s ease;
    display: none;
    z-index: 99999;
}
.menu-ico-wrapper .menu-ico i{
    transition: transform .3s ease;
    transform: rotate(-90deg);
    font-size: 35px;
}
.menu-ico-wrapper .menu-ico i.rotate{
    transition: transform .3s ease;
    transform: rotate(90deg);
}
.mock-btn-wrapper{
    border-radius: 5px 0 0 5px;
}
.mock-btn-wrapper.show{
    display: block;
    position: absolute;
    z-index: 999;
    top:50px;
    height: 100%;
    animation: myAni .7s forwards;
}
.buttons{
    overflow: hidden;
    padding-top:30px;
}
.buttons .right button{
    margin-left:10px;
}
.btns-right{
    padding:5px;
    height:230px;
    overflow-y: scroll;
    text-align: center;
}
.btns-right button{
    width: 35px;
    height:35px;
    line-height: 35px;
    display: inline-block;
    margin:10px 10px 0 0;
    text-align: center;
    padding:0;
    background: #f4f4f4;
    color:#212121;
}
.btns-right button.gColor{
    background: #13AA52;
    color:#f3f3f3;
}
.btns-right button.iColor{
    background:#283593;
    color: #f3f3f3;
}
.btns-right button.oColor{
    background: #FB8C00;
    color:#f3f3f3;
}
.btn-description {
    margin-top: 10px;
}
.btn-description button{
    width:25px;
    height: 25px;
}
.btn-description p{
    font-size: 11px;
    text-overflow: ellipsis;
}
.test-profile{
    border-radius:5px 0 5px 5px;
    height: 50px;
    box-shadow: 0 0 5px rgba(0,0,0,.07);
    font-weight: bold;
}
.test-profile img{
    margin-left:-10px;
    border-radius:5px;
}

.modal{
    width:50%;
}
.modal .modal-footer{
    text-align: center;
}
/**********mock-attempted css*************/
#result-area{
    background: #f7f7f7;
}
#question-area .tabs .tab a {
    font-size: 16px;
    color:#777;
    font-weight: bold;
    text-transform:capitalize ;
}
.tabs .indicator{
    background:#13AA52;
}
.tabs .tab a.active,.tabs .tab a:focus.active{
    background:#dcf0e8
}


@keyframes myAni {
    0%{
        right:-350px;
    }
    100%{
        right:0;
        top:50px;
    }
}

@media only screen and (max-width: 992px){
    .modal{
        width:50%;
    }
    .mock-btn-wrapper{
        display: none;
    }
    .menu-ico-wrapper .menu-ico{
        display: inline-block;
    }
    #mock-area{
        min-height:510px;
    }
}
@media only screen and (max-width: 500px){
    #bg-image{
        height: 350px;
    }
    #mock-area .buttons .left,#mock-area .buttons .right{
        float:none;
        width:100%;
    }
    .buttons.padding-20{
        padding:0;
    }
}