<%- include('../partials/header') %>
<section class="section" id="instructions">
    <div class="row container">
        <div class="col s12">
            <p class="teal center-align flow-text grey-text text-lighten-5 padding-h"><b>Please read instructions carefully</b></p>

            <h5><b>General Instructions:</b></h5>
            <ul>
                <li class="flow-text">☞ The total duration of the examination is 90 minutes.</li>

                <li class="flow-text">☞ The clock timer is set on the right top corner of screen. You will be notified when last <b>15 minutes</b> is remaining. When time is over a pop up box will be
                    opened with a submit box. Please don't forget to submit your mock otherwise your attempt will not be
                    counted.</li>

                <li class="flow-text">☞ The Question Palette displayed on the right side of screen will show the status of each question
                    using one of the following symbols:
                    <ul>
                        <ol>
                            <li>Attempted questions in <span class="green white-text">green</span> colour. </li>
                            <li>Unattempted questions in white colour. </li>
                            <li>Tagged and Attempted question in <span class="indigo white-text">indigo</span> colour</li>
                            <li>Tagged question in <span class="orange white-text">orange</span> colour</li>
                        </ol>

                    </ul>
                </li>

                <li class="flow-text">☞ Tagged status for a question simply indicates that you would like to review the question
                    again.</li>
                <li class="flow-text">☞ Please note that if a question is ‘Attempted’ and ‘Tagged’, your answer for that question
                    will be considered in the evaluation. </li>
                <li class="flow-text">☞ You can click on the question palette to navigate faster across questions. </li>

            </ul>
            <h5><b>Answering a Question:</b></h5>
            <ul>
                <li class="flow-text">☞ Procedure for answering multiple-choice type questions:
                    <ol>
                        <li>To select your answer, click on one of the options of your choice</li>
                        <li>To erase your selected option, click on <b>Erase</b> button</li>
                        <li>To change your chosen answer, click on the button of another option.</li>
                        <li>To save your answer, you MUST click on the <b>Save & Next</b>&nbsp;button.</li>
                    </ol>
                </li>
                <li class="flow-text">☞ To mark a question for review, click on the&nbsp;<b>Tag</b>&nbsp;button.</li>
                <li class="flow-text">☞ To change answer to a question that has already been answered, select that question from the
                    Question Palette and then follow the procedure for answering that type of question.</li>
                <li class="green white-text flow-text" style="padding:5px">☞ <b>Important:</b> Only questions for which answers are either <b>Saved or Tagged &
                        Attempted</b>, will be considered for evaluation.</li>
                <h5><b>Navigating through questions:</b></h5>
                <ul>
                    <li class="flow-text">☞ Click on the question buttons at the right of your screen to go to a question.</li>
                    <li class="flow-text">☞ <b>Note that using this option does NOT save your answer.</b></li>
                    <li class="flow-text">☞ Click on&nbsp;<b>Save &amp; Next&nbsp;</b> to save your answer for a question and then move to
                        the next question.</li>
                </ul>

        </div>
    </div>
</section>
<footer>
    <div class="row container">
        <div class="col s12 right-align">
            <a href="/take-mock/<%=id%>" class="btn btn-large">Start Now</a>
        </div>
    </div>
</footer>
<%- include('../partials/footer') %>